<div class="container-comments">
  <form>
    <label for="input-comment"></label>
    <textarea id="input-comment" placeholder="leave a comment..."></textarea>
    <button data-key="{{key}}" id="comment-btn">send</button>
  </form>
  <div class="user-comments">
    {{#each comments}}
    <div class="comment">
      <p class="time">{{this.createdAt}}</p>
      <p>{{this.user}}</p>
      <p class="text">{{this.text}}</p>
    </div>
    {{/each}}
  </div>
</div>
