<div class="reg">
  <h1>Registration</h1>
  <div id="js-alert"></div>
  <form class="reg-form">
    <label for="js-name">enter name</label>
    <input id="js-name" type="text">
    <label for="js-email">enter email</label>
    <input id="js-email" type="email">
    <label for="js-password">enter password</label>
    <input id="js-password" type="password">
    <button id="js-reg-btn">register</button>
  </form>
</div>
